%h1= "Roles"
- if @roles.count > 0
  %div{:class => 'container'}
    %div{:class => 'row'}
      %div{:class => 'span1'}
        ='#'
      %div{:class => 'span1'}
        ='Role'
      %div{:class => 'span1'}
        ='Actions'
    - @roles.each do |role|
      %div{:class => 'row'}
        %div{:class => 'span1'}
          ='#'
        %div{:class => 'span1'}
          =role.name
        %div{:class => 'span2'}          
          =link_to "View", role
          =" | "
          =link_to "Edit", edit_role_path(role.id)
          =" | "
          =link_to "Delete", role_path(role.id), :confirm => 'Are you sure?', :method => :delete
- else
  %div{:class => 'alert'}
    ="No record found."

= link_to "Add New Role", new_role_path, :class => 'btn btn-primary'